<div style="text-align: center;">
    <ul class="navigationBar">
        <a class="navLink" href="/"><li style="float:left" class="navigationElement">Home</li></a>
        <a class="navLink" href="/projects"><li style="float:left" class="navigationElement">Projects</li></a>
        <a class="navLink" href="/contact"><li style="float:left" class="navigationElement">Contact</li></a>
    </ul>

</div>