<div class="layoutElementVertical" style="border: .75em solid transparent;"></div>
<div class="layoutElementVertical uiWidth" style="background-color:var(--red)">
    <ul class="navigationBar">
        <a class="navLink" href="/">
            <li class="navigationElement">Home</li>
        </a>
        <a class="navLink" href="/projects">
            <li class="navigationElement">Projects</li>
        </a>
        <a class="navLink" href="/contact">
            <li class="navigationElement">Contact</li>
        </a>
    </ul>
</div>