<div class="layoutElementVertical" style="border: .75em solid transparent;"></div>
<div class="layoutElementVertical uiWidth" style="background-color:var(--red)">
    <div class="navigationBar">
        <a class="navLink" href="/">
            Home
        </a>
        <a class="navLink" href="/projects">
            Projects
        </a>
        <a class="navLink" href="/contact">
            Contact
        </a>
    </div>
</div>