    <div class = "Footer" style=  "text-align:center" id="Footer">
          <p class="FooterText"> Peotone, IL</p>
          <p class="FooterText">Contact Me: <a href = "tel:7083784975" style="font-size: x-large; color: white;">(708) 378 4975</a></p>
          <p class = "FooterText"> Follow me<br> 
          <a href = "https://www.linkedin.com/in/brennan-j-price/"class="SocialMedia">LinkedIn</a> 
          <img src="/images/linkedin-logo.png" class="logo"><br>
          <a href = "https://github.com/BJPrice01" class="SocialMedia">Github</a>
          <img src="/images/github-logo.png" class="logo"> </p>
    </div>