<div class="Footer uiWidth">
      <p class="FooterText"><a href="https://www.linkedin.com/in/brennan-j-price/" class="SocialMedia">LinkedIn<img src="images/linkedin-logo.png" class="logo"></a></p><br />
      <p class="FooterText"><a href="https://github.com/BJPrice01" class="SocialMedia">Github<img src="images/github-logo.png" class="logo"></a>
      </p><br />
</div>
<div class="layoutElementVertical" style="border: .75em solid transparent;"></div>
