    <div class = "Footer" style=  "text-align:center" id="Footer">
          <p class="FooterText"> Peotone, IL</p>
          <p class="FooterText">Contact Me: <a href = "tel:7083784975" style="font-size: x-large; color: blue;">(708) 378 4975</a></p>
          <p class = "FooterText"> Follow me<br> 
          <a href = "https://www.instagram.com"class="SocialMedia">Instagram</a> 
          <img src="/img/insta-logo.png" class="img"><br>
          <a href = "https://www.facebook.com" class="SocialMedia">Facebook</a>
          <img src="/img/facebook-logo.png" class="img"> </p>
    </div>