<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Brennan J Price</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="./style.css" />
    </head>
    <body>
        <div class="layout">
            {{> header}}
            {{{body}}}
            {{> tail}}
        </div>
    </body>
</html>