<div style="text-align: center;">
    <h1>Brennan J. Price</h1>
    <h4><a href="mailto:brennanjamesprice@gmail.com">brennanjamesprice@gmail.com</a></h4>
    <img id="pfp" src="images/pfp.jpg" alt="A picture of me" style="max-width: 25%;height: auto;"/>
</div>

<div>
    <h2>Introduction:</h2>
    <p>&emsp;My name is Brennan Price. I'm an aspiring software engineer currently looking for work. I've recently graduated from Lewis University with a Bachelor of Science in Computer Science, with minors in Mathematics and Data Science, and concentrations in Software Engineering and Game and Simulation Programming.</p>
</div>
<hr />


