<div class="layoutElementHorizontal reverseColResponsive main animated">
    <div class="seventy layoutElementVertical">
        <h2>Brennan J. Price</h2>
        <p>Brennan Price is an adept junior software developer with a wide skillset of technologies. His aptitude to learn and eagerness to put new knowledge to use make him a valuable asset to a team. He graduated from Lewis University with a bachelor's degree in computer science and minors in Data Science and Mathematics, and then joined the FastTrack Developer program to further refine his abilities. His time spent in customer service positions has given him strong conflict resolution and communication skills. Brennan's patient, teamwork based approaches to problem solving make him a valuable member to any team.   
        </p>
        <div class="navigationBar">
            <a class="navLink" href="/resume">Resume</a>
        </div>
    </div>

    <div id="profile" class="thirty layoutElementVertical"  >
        <img class="profilePicture" src="https://avatars.githubusercontent.com/u/60759320?v=4" alt="Picture of Me" />
    </div>
</div>


