<h1>My Projects</h1>
<hr />

<a href="https://github.com/AidanInc/Revit"><h4>Aidan Interactive Rendering</h4></a>
<hr />

<a href="https://github.com/VGPII/brawler"><h4>Quantum Quarrel</h4></a>
<hr />

<a href="https://github.com/BrennanP01/mad-final-project"><h4>Water Tracker</h4></a>
<hr />

<a href="https://github.com/DataSAIL/WormVideoTrackingResearch"><h4>C. Elegans Worm Movement Estimator</h4></a>
<iframe width="560" height="315" src="https://www.youtube.com/embed/d_uyMgRRqOA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<hr />

<a href="/resume"><h4>Resume</h4></a>
<hr />