<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-sprint-09-2023-assessment-1-team-2"><img src="images/whosThatArtist.png" class="thumbnail" alt="Who's That Artist"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-sprint-09-2023-assessment-1-team-2">
        <div class="layoutElementHorizontal">
            <h4>Who’s Who Artist Webpage Game</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Implemented an Angular web page to play a match the song to artist game</li>
            <li class="projectBullet">Utilized Spotify API calls to retrieve artists, songs, and genres</li>
            <li class="projectBullet">Designed CSS styling onto HTML5 elements to give the website a fun, cheerful mood</li>
            <li class="projectBullet">Created game logic to give the scoring a sense of momentum and risk</li>
        </ul>
        <p>Environment: <i>Angular, VS Code, Git, HTML5, CSS3, Npm, Node, TypeScript, JavaScript, Github</i></p>
    </div>
</div>
<hr class="uiWidth"/>
<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-sprint-09-2023-assessment-1-team-2"><img src="images/twitterClone.png" class="thumbnail" alt="Twitter Clone API"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/fasttrackd-student-work/spring-assessment-social-media-sprint-09-2023-assessment-1-team-2">
        <div class="layoutElementHorizontal">
            <h4>Twitter Clone API</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Implemented a RESTful Web Service with 30 endpoints covering the basic CRUD operations to create posts, users, and hashtags via HTTP requests</li>
            <li class="projectBullet">Utilized an ERD to develop a PostgreSQL alongside teammates</li>
            <li class="projectBullet">Built SpringBoot controllers to handle HTTP requests and backend logic, alongside JPA to handle storing and retrieving objects from a PostgreSQL database</li>
            <li class="projectBullet">Operated under test driven development with Postman to ensure the endpoints were thoroughly tested and debugged</li>
        </ul>
        <p>Environment: <i>Java, Spring, Spring Boot, JPA, PostgreSQL, Postman, PGAdmin, Git, Eclipse, Maven</i></p>
    </div>
</div>
<hr class="uiWidth"/>
<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/AidanInc/Revit"><img src="images/aidanInteractive.png" class="thumbnail" alt="Aidan Interactive Rendering"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/AidanInc/Revit">
        <div class="layoutElementHorizontal">
            <h4>Aidan Interactive Rendering</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Developed an Autodesk Revit add-on in C# to export 3D views to fbx files</li>
            <li class="projectBullet">Collaborated in loading those fbx files into an Unreal Engine walkthrough</li>
            <li class="projectBullet">Implemented UI and functionality to the exporter</li>
        </ul>
        <p>Environment: <i>VS Code, Git, C#, Autodesk</i></p>
    </div>
</div>
<hr class="uiWidth"/>
<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/VGPII/brawler"><img src="images/quantumQuarrel.png" class="thumbnail" alt="Quantum Quarrel"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/VGPII/brawler">
        <div class="layoutElementHorizontal">
            <h4>Quantum Quarrel</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Cooperated in developing 2D C++ brawler game</li>
            <li class="projectBullet">Lead implementation on collision, sprites, and the attack systems</li>
            <li class="projectBullet">Contributed to debugging the tile based level building systems</li>
        </ul>
        <p>Environment: <i>C++, Visual Studio, Cocos2Dx Game Engine, Git</i></p>
    </div>
</div>
<hr class="uiWidth"/>
<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/BrennanP01/mad-final-project"><img src="images/waterTracker.png" class="thumbnail" alt="Water Tracker"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/BrennanP01/mad-final-project">
        <div class="layoutElementHorizontal">
            <h4>Water Tracker</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Programmed Java based Android Application to track water consumption</li>
            <li class="projectBullet">Architected MVC design pattern implementation to receive, store, and display app information</li>
            <li class="projectBullet">Assembled SQL database for to store and access the information</li>
        </ul>
        <p>Environment: <i>Java, Android Studio, SQL, Git</i></p>
    </div>
</div>
<hr class="uiWidth"/>
<div class="layoutElementHorizontal main project animated">
    <a href="https://github.com/DataSAIL/WormVideoTrackingResearch"><img src="images/cElegansMovement.png" class="thumbnail" alt="C. Elegans Worm Movement Estimator"/></a>
    <div class="layoutElementVertical description">
        <a href="https://github.com/DataSAIL/WormVideoTrackingResearch">
        <div class="layoutElementHorizontal">
            <h4>C. Elegans Worm Movement Estimator</h4>
            <img src="images/github-logo.png" class="logo">
        </div>
        </a>
        <ul>
            <li class="projectBullet">Estimated movement of worms by building a computer vision Python program </li>
            <li class="projectBullet">Identified worm objects by developed machine learning model </li>
            <li class="projectBullet">Produced an estimate of a drug’s usefulness through implementing a method to measure the worm’s movement</li>
            <li class="projectBullet">Presented finalized program at end of summer at Lewis SURE Symposium</li>
        </ul>
        <p>Environment: <i>Python, OpenCV, VS Code, Git</i></p>
    </div>
</div>