body {
    background-color: #c5c2b98c;
}

p {
    margin-left: 5%;
    color: #3b3b3b;
    font-size: 2vh;
}

h1 {
    font-size: 4vh;
    margin-left: 15%;
    margin-right: 15%;
    color: #3b3b3b;
}

h2 {
    font-size: 3vh;
    margin-right: 15%;
    margin-left: 15%;
    color: #3b3b3b;
}

h4 {
    font-size: 2vh;
    color: #3b3b3b;
}

ul {
    font-size: 2vh;
    list-style-type: square;
    margin-left: 5%;
    color: #3b3b3b;
}

li::marker {
    color: #be4037;
}

a {
    color: #be4037;
}

hr {
    background-color: #be4037;
    height: 2px;
    color: #be4037;
    width: 80%;
}

.navigationBar {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navLink:link {
    color: #3b3b3b;
    text-decoration: none;
}
.navLink:visited {
    color: #3b3b3b;
    text-decoration: none;
}
.navLink:hover {
    color: #3b3b3b;
    text-decoration: none;
}
.navLink:active {
    color: #3b3b3b;
    text-decoration: none;
}

.navigationElement {
    display:block;
    color: #3b3b3b;
    background-color: #be4037;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationElement:hover {
    background-color: #111;
}

.Footer{
    background-color:#be4037;
    font-size: x-large;
}
.FooterText{
    color: #3b3b3b;
}

.SocialMedia{
    font-size: x-large;
}
.SocialMedia:Link{
    color: blue;
}
.SocialMedia:visited{
    color: blue;
}